<head>
    <meta charset="utf-8">
    <meta name="description" content="Ultreia.io est spécialisée autour des
        environnements libres et des technologies Java, HTML/CSS/Javascript.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="icon" type="image/png" href="/img/logo/logo-orange.png"/>
    <!--<link rel="canonical" href="https://www.ultreia.io/contact.html"/>-->
</head>