<div class="header">
    <div class="headerContent">
        <a href="/index.html"> <img class="logo" src="/img/logo/logo-gray.png"></a>
        <div class="headerItems">
            <a href="/metier.html">Métier</a>
            <a href="/customers.html">Références</a>
            <a href="/contributions.html">Contributions</a>
            <a href="/prices.html">Tarifs</a>
            <a href="/contact.html" class="btn-primary btn-icon">Contact</a>
        </div>
    </div>
    <hr/>
</div>
