<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body class="body">

{%- include header.html -%}


<div class="content">
    {{ content }}
</div>

{%- include footer.html -%}

</body>

</html>
