/*-
 * #%L
 * Pom
 * %%
 * Copyright (C) 2018 Ultreia.io
 * %%
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * #L%
 */
/* latin-ext */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(Quicksand-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(Quicksand-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    /*noinspection CssNoGenericFontName*/
    font-family: Quicksand;
    font-size: 1.0em;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.logo {
    max-height: 100px;
    width: auto;
}

.body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}

article {
    display: inherit;
}

.header {
    flex-shrink: 0;
    text-align: center;
}

.headerContent {
    display: flex;
    flex-flow: row wrap;
}

.headerItems {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1em;
}

.content {
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
}

.footer {
    flex-shrink: 0;
    height: 50px;
    text-align: center;
}

div.images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

div.images > a > img {
    max-height: 95px;
    width: auto;
    max-width: 110px;
}


p {
    margin-left: 5px;
    margin-right: 5px;
}

.columns-2 {
    display: flex;
    flex-flow: row nowrap;
}

.col {
 flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
}
